html {
  background: url("https://image.shutterstock.com/image-photo/poker-table-felt-background-green-260nw-198983882.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cards {
  display: flex;
}
